/* Header
  /* ---------------------------------------------------------- */

  @mixin dots-bg {
    background: var(--color-base);
    background-size: 1%;
    background-position: top;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.site-head {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background: var(--color-base);
    @include dots-bg;
}

.site-nav-item {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    opacity: 0.8;
    position: relative;
    font-size: 2rem;

    &.home {
        padding-top: 4rem;

        .site-nav-icon {
            height: 35px;

            &:hover {
                opacity: 1;
            }
        }
    }

    &:hover {
        text-decoration: none;
    }

    &.active-link:before {
        content: "";
        position: absolute;
        display: block;
        bottom: 5px;
        left: 0;
        right: 0;
        z-index: -1;
        height: 30%;
        opacity: 0.7;
        background-color: var(--color-pink);
        width: 100%;
        transform: rotate(-2deg);
        animation: reveal 0.3s ease;
        animation-fill-mode: backwards;
    }
}

@keyframes reveal {
    0% {
        background-color: transparent;
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

.site-nav-icon {
    height: 20px;
    margin: -5px 0 0;
}

.site-logo {
    height: 25px;
}

.site-mast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.site-mast-right {
    display: flex;
    align-items: center;

    .site-nav-item:last-child {
        padding-right: 0;
    }
}

.site-banner {
    max-width: 80%;
    margin: 0 auto;
    padding: 5vw 0;
    text-align: center;
}

.site-banner-title {
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    color: #fff;
    line-height: 1.1em;
    font-family: "Permanent Marker", Helvetica, Arial, sans-serif;
    font-size: 6rem;
    font-size: clamp(2rem, 15vw, 15rem);
    text-transform: uppercase;
    letter-spacing: 0.8rem;
}

.three-d {
    display: inline-block;
    position: relative;
    z-index: 0;

    &:before,
    &:after {
        content: attr(data-line);
        position: absolute;
        backface-visibility: hidden;
    }

    &:before {
        color: var(--color-pink);
        top: 0;
        left: 0;
        z-index: -1;
        transform: translate3d(-2px, 0, 0);
        animation: shakeBefore 4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
            infinite;
        animation-delay: 0.5s;
    }

    &:after {
        color: var(--color-green);
        top: 0px;
        left: 0px;
        z-index: -2;
        transform: translate3d(2px, 0, 0);
        animation: shakeAfter 4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
            infinite;
        transform: rotate(1deg);
    }
}

@keyframes shakeBefore {
    0% {
        transform: translate3d(-2px, 0, 0);
    }
    2% {
        transform: translate3d(0px, 0, 0);
    }
    4% {
        transform: translate3d(2px, 0, 0);
    }

    8% {
        transform: translate3d(-2px, 0, 0);
    }
    70% {
        transform: translate3d(-2px, 0, 0);
    }
    100% {
        transform: translate3d(-2px, 0, 0);
    }
}

@keyframes shakeAfter {
    0% {
        transform: translate3d(2px, 0, 0);
    }
    2% {
        transform: translate3d(0px, 0, 0);
    }
    4% {
        transform: translate3d(-2px, 0, 0);
    }

    8% {
        transform: translate3d(2px, 0, 0);
    }
    70% {
        transform: translate3d(2px, 0, 0);
    }
    100% {
        transform: translate3d(2px, 0, 0);
    }
}

.site-banner-desc {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 2.4rem;
    font-size: clamp(1.4rem, 12vw, 2.4rem);
    line-height: 1.3em;
    opacity: 0.8;
}

.highlight-container,
.highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
    margin-right: 0.5rem;
}

.highlight-container:before {
    content: " ";
    display: block;
    height: 50%;
    width: 100%;
    position: absolute;
    background: var(--color-pink);
    transform: rotate(-2deg);
    top: 25%;
    left: 0;
    padding: 10px 3px 3px 10px;
    animation: reveal 0.5s ease;
    animation-fill-mode: backwards;
}

// Animation delay. Will add 0.5s per item.
@for $i from 1 through 4 {
    .highlight-container:nth-child(#{$i})::before {
        animation-delay: #{$i/2}s;
    }
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 0 0;
    font-weight: 600;
}

@media (max-width: 580px) {
    .site-nav {
        justify-content: center;
    }
    .site-nav-item {
        font-size: 1.7rem;
    }
    .site-nav-left {
        width: 100%;
        margin: 0 !important;
        display: flex;
        justify-content: center;
    }
    .site-mast-right.mast-small {
        display: none;
    }
}

.site-nav-left {
    margin: 0 20px 0 -10px;
}

.site-nav-button {
    display: inline-block;
    padding: 5px 10px;
    border: #fff 1px solid;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1em;
    border-radius: var(--radius);
    opacity: 0.7;

    &:hover {
        text-decoration: none;
    }
}

.skewed {
    height: 42px;
    height: clamp(15px, 5vw, 42px);
    background: var(--color-base);
    z-index: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 0%);
    @include dots-bg;
}
