/* Layout
  /* ---------------------------------------------------------- */

.viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 4vw;
}

.content {
    margin: 0 auto;
    font-size: 2rem;
    line-height: 1.7em;
}

.content-body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-serif);
}

.post-full-content {
    max-width: 720px;
    margin: 0 auto;
    background: #fff;
}

.post-feature-image.poster {
    width: 100%;
    height: 100%;
    padding: 2%;
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    transform: rotate(-1.5deg);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
    -webkit-filter: saturate(70%) contrast(85%);
    filter: saturate(70%) contrast(85%);
    margin: 0 0 3vw;

    img {
        width: 100%;
        height: 500px;
        margin: 0;
        display: block;
        z-index: 1;
        object-fit: cover;
    }

    &:before,
    &:after {
        content: "";
        width: 100%;
        left: 0;
        position: absolute;
    }

    /* Poster shadow */
    &:before {
        height: 4%;
        bottom: -4%;
        left: 1%;
        background-repeat: no-repeat;
        background-image: linear-gradient(
                177deg,
                rgba(0, 0, 0, 0.22) 10%,
                transparent 50%
            ),
            linear-gradient(-177deg, rgba(0, 0, 0, 0.22) 10%, transparent 50%);
        background-size: 49% 100%;
        background-position: 2% 0, 98% 0;
    }

    /* Folds */
    &:after {
        height: 100%;
        top: 0;
        z-index: 2;
        background-repeat: no-repeat;
        background-image: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.1) 0.5%,
                rgba(0, 0, 0, 0.15) 0%,
                transparent 0.7%
            ),
            linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0.1) 0.5%,
                rgba(0, 0, 0, 0.15) 0%,
                transparent 0.7%
            ),
            linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0.1) 0.5%,
                rgba(0, 0, 0, 0.15) 0%,
                transparent 2%
            ),
            linear-gradient(265deg, rgba(0, 0, 0, 0.2), transparent 10%),
            linear-gradient(5deg, rgba(0, 0, 0, 0.2), transparent 15%),
            linear-gradient(-5deg, rgba(0, 0, 0, 0.1), transparent 10%),
            linear-gradient(5deg, rgba(0, 0, 0, 0.1), transparent 10%),
            linear-gradient(-265deg, rgba(0, 0, 0, 0.2), transparent 10%),
            linear-gradient(-5deg, rgba(0, 0, 0, 0.2), transparent 15%),
            linear-gradient(266deg, rgba(0, 0, 0, 0.2), transparent 10%);
        background-size: 50% 100%, 100% 33.3333%, 100% 33.3333%, 50% 33.3333%,
            50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%,
            50% 33.3333%;
        background-position: right top, left center, left bottom, left top,
            left top, right top, left center, right center, right center,
            left bottom;
    }
}

@media (max-width: 500px) {
    .post-feature-image.poster {
        img {
            height: 250px;
        }
    }
}

.content-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-sans-serif);
    }

    h1 {
        margin: 1em 0 0.5em 0;
        font-size: 3.4rem;
        font-weight: 700;
    }
}

.content-title {
    margin: 0 0 0.8em;
    font-size: 5rem;
}

@media (max-width: 500px) {
    .content-title {
        margin: 0.8em 0;
        font-size: 3.4rem;
    }

    .content-body h1 {
        font-size: 2.8rem;
    }

    .content {
        font-size: 1.8rem;
    }
}

.content-body {
    h2 {
        margin: 0.8em 0 0.4em 0;
        font-size: 3.2rem;
        font-weight: 700;
    }

    h3 {
        margin: 0.5em 0 0.2em 0;
        font-size: 2.8rem;
        font-weight: 700;
    }

    h4 {
        margin: 0.5em 0 0.2em 0;
        font-size: 2.4rem;
        font-weight: 700;
    }

    h5 {
        display: block;
        margin: 0.5em 0;
        padding: 1em 0 1.5em;
        border: 0;
        font-family: Georgia, serif;
        color: var(--color-primary);
        font-style: italic;
        font-size: 3.2rem;
        line-height: 1.35em;
        text-align: center;
    }

    h6 {
        margin: 0.5em 0 0.2em 0;
        font-size: 2rem;
        font-weight: 700;
    }

    figure {
        margin: 0.4em 0 1.6em;
        font-size: 2.8rem;
        font-weight: 700;

        figcaption {
            font-size: 2rem;
            font-style: italic;
            font-weight: 500;
        }
    }

    pre {
        margin: 0.4em 0 1.8em;
        font-size: 1.6rem;
        line-height: 1.4em;
        white-space: pre-wrap;
        padding: 20px;
        background: var(--color-base);
        color: #fff;
        border-radius: 12px;
    }
}

@media (max-width: 500px) {
    .content-body h2 {
        font-size: 2.6rem;
    }
}

@media (max-width: 500px) {
    .content-body h3 {
        font-size: 2.2rem;
    }
}

@media (max-width: 500px) {
    .content-body h4 {
        font-size: 2.2rem;
    }
}
